.catalogpage {
  width: 100%;
  min-height: 200px;
}
.catalogpage .cataloglist {
  width: 95%;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  padding-bottom: 10px;
  margin: 0px auto;
}
.catalogpage .cataloglist .filtermenu {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.catalogpage .cataloglist .filtermenu .sortby {
  font-size: 16px;
  display: flex;
  align-items: center;
}
.catalogpage .cataloglist .filtermenu .sortby span:last-child {
  display: inline-block;
  min-width: 120px;
  height: 30px;
  border-radius: 20px;
  background: #f6f5f8;
  text-align: center;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  color: #80a8ff;
  margin-left: 10px;
}
.catalogpage .cataloglist .catalogh1 {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalogpage .cataloglist .catalogh1 svg {
  display: inline-block;
  margin-left: 10px;
}
.catalogpage .cataloglist .item {
  width: 47%;
  height: 210px;
  min-height: 210px;
  padding: 10px;
  margin: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 20px;
  background-color: #f6f5f8;
  overflow: hidden;
  transition: all, 0.2s, all, 0.2s;
}
.catalogpage .cataloglist .item:active {
  transform: scale(0.95);
}
.catalogpage .cataloglist .item .image {
  background-color: #f6f5f8;
  width: 100%;
  height: 200px;
  min-height: 200px;
  border-radius: 20px;
  z-index: 1;
  transform: translate(0px, -40px) scale(1.1);
}
.catalogpage .cataloglist .item .blocknameprice {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  z-index: 2;
  transform: translate(0px, -60px);
}
.catalogpage .cataloglist .item .blocknameprice .name {
  width: 100%;
  margin-right: auto;
  margin-bottom: 10px;
}
.catalogpage .cataloglist .item .blocknameprice .price {
  width: 100%;
  margin-left: auto;
}
.catalogpage .cataloglist .scrollup {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  text-align: center;
  background-color: #f6f5f8;
  font-size: 18px;
  padding-top: 10px;
  color: #80a8ff;
  border-radius: 20px;
  transition: all, 1s, all, 1s;
}
.catalogpage .cataloglist .scrollup:active {
  transform: scale(0.9);
}
.catalogpage .filter_menu {
  position: fixed;
  width: 95%;
  height: 40px;
  margin: 10px;
  margin-bottom: 70px;
  bottom: 0;
  border-radius: 40px;
  background: #f6f5f8;
  z-index: 20;
  box-shadow: 0px 15px 45px rgba(157, 157, 157, 0.5607843137);
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
  color: #80a8ff;
  transition: all, 0.3s, all, 0.3s;
}
.catalogpage .filter_menu:active {
  transform: scale(0.9);
}

.catalogpagehide::before {
  content: "";
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(116, 116, 116, 0.3294117647);
  z-index: 10;
  transition: all, 1s, all, 1s;
}

.filtermodalwindow {
  width: 100%;
  height: 100%;
  z-index: 40;
  position: fixed;
  transition: all, 0.3s, all, 0.3s;
  background: #fff;
}
.filtermodalwindow .filtermodal_menu {
  width: 100%;
  height: 100%;
  transition: all, 1s, all, 1s;
  overflow: scroll;
}
.filtermodalwindow .filtermodal_menu .filtermenu_type {
  width: 100%;
  min-height: 60px;
  padding: 10px;
  border-bottom: 2px solid #f6f5f8;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.filtermodalwindow .filtermodal_menu .filtermenu_type:last-child {
  border-bottom: 0px solid #f6f5f8;
}
.filtermodalwindow .filtermodal_menu .filtermenu_type span[data-type=header] {
  display: inline-block;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 16px;
  margin: 0px auto;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #538aff;
  background: #f6f5f8;
  border-radius: 20px;
}
.filtermodalwindow .filtermodal_menu .filtermenu_type label {
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.filtermodalwindow .filtermodal_menu .filtermenu_type label input {
  position: absolute;
  display: inline-block;
  left: -9999px;
}
.filtermodalwindow .filtermodal_menu .filtermenu_type label input:checked + span[data-type=circle] + span[data-type=span2] {
  color: #437fff;
}
.filtermodalwindow .filtermodal_menu .filtermenu_type label input:checked + span[data-type=circle]::before {
  background: #437fff;
}
.filtermodalwindow .filtermodal_menu .filtermenu_type label span[data-type=span2] {
  display: inline-block;
  min-width: 60px;
  z-index: 10;
}
.filtermodalwindow .filtermodal_menu .filtermenu_type label span[data-type=span2]:first-child {
  width: 40px;
}
.filtermodalwindow .filtermodal_menu .filtermenu_type label span[data-type=circle] {
  transition: all, 0.3s, all, 0.3s;
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  border: 1px solid #437fff;
  margin-right: 10px;
}
.filtermodalwindow .filtermodal_menu .filtermenu_type label span[data-type=circle]::before {
  content: "";
  position: absolute;
  display: inline-block;
  transition: all, 0.3s, all, 0.3s;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(4px, 4px);
}
.filtermodalwindow .filtermodal_menu .filtermenu_type input.costfilterinput {
  width: 130px;
  height: 40px;
  background: #f6f5f8;
  color: #80a8ff;
  border-radius: 20px;
  margin-left: 10px;
  padding-left: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}
.filtermodalwindow .filtermodal_menu .filtermenu_closebutton {
  width: 95%;
  height: 50px;
  margin: 0px auto;
  margin-bottom: 20px;
  margin-top: 25px;
  text-align: center;
  border-radius: 40px;
  background: #437fff;
  color: #fff;
  padding-top: 15px;
  font-size: 20px;
  transition: all, 0.3s, all, 0.3s;
  box-shadow: 0px 15px 45px rgba(157, 157, 157, 0.5607843137);
}
.filtermodalwindow .filtermodal_menu .filtermenu_closebutton:active {
  transform: scale(0.9);
}
.filtermodalwindow .filtermodal_menu .costfilter {
  justify-content: space-around;
  align-items: center;
}
.filtermodalwindow .filtermodal_menu .costfilter input::-moz-placeholder {
  color: #80a8ff;
}
.filtermodalwindow .filtermodal_menu .costfilter input:-ms-input-placeholder {
  color: #80a8ff;
}
.filtermodalwindow .filtermodal_menu .costfilter input::placeholder {
  color: #80a8ff;
}

.filtermodalwindow.hidden {
  transform: translate(0px, 800px);
  height: 0;
}/*# sourceMappingURL=style.css.map */