$bg: #f6f5f8;
$shadow-bg: #121212;
$border: #393939;
$testbg: #23242e;
$fontcolor: #c3c3c3;
$box-shadow: 0px 15px 45px #9d9d9d8f;
$transition: all, 0.3s, all, 0.3s;
$transition2: all, 1s, all, 1s;
$color_1: #80a8ff;

.catalogpage {
    width: 100%;
    min-height: 200px;
    .cataloglist {
        width: 95%;
        min-height: 300px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 20px;
        padding-bottom: 10px;
        margin: 0px auto;
        .filtermenu {
            width: 100%;
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 10px;
            padding-right: 10px;
            .sortby {
                font-size: 16px;
                display: flex;
                align-items: center;
                span {
                    &:last-child {
                        display: inline-block;
                        min-width: 120px;
                        height: 30px;
                        border-radius: 20px;
                        background: $bg;
                        text-align: center;
                        padding-top: 7px;
                        padding-left: 10px;
                        padding-right: 10px;
                        color: $color_1;
                        margin-left: 10px;
                    }
                }
            }
        }
        .catalogh1 {
            width: 100%;
            height: 30px;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                display: inline-block;
                margin-left: 10px;
            }
        }
        .item {
            width: 47%;
            height: 210px;
            min-height: 210px;
            padding: 10px;
            margin: 5px;
            margin-bottom: 10px;
            margin-top: 10px;
            cursor: pointer;
    
            border-radius: 20px;
            background-color: $bg;
            overflow: hidden;
            transition: all, 0.2s, all, 0.2s;
            &:active {
                transform: scale(0.95);
            }
            .image {
                background-color: $bg;
                width: 100%;
                height: 200px;
                min-height: 200px;
                border-radius: 20px;
                z-index: 1;
                transform: translate(0px, -40px) scale(1.1);
            }
            .blocknameprice {
                width: 95%;
                display: flex;
                flex-wrap: wrap;
                margin: 0px auto;
                z-index: 2;
                transform: translate(0px, -60px);
                .name {
                    width: 100%;
                    margin-right: auto;
                    margin-bottom: 10px;
                }
                .price {
                    width: 100%;
                    margin-left: auto;
                }
            }
        }
        .scrollup {
            width: 100%;
            height: 40px;
            margin-top: 10px;
            text-align: center;
            background-color: $bg;
            font-size: 18px;
            padding-top: 10px;
            color: #80a8ff;
            border-radius: 20px;
            transition: $transition2;
            &:active {
                transform: scale(0.9);
            }
        }
    }
    .filter_menu {
        position: fixed;
        width: 95%;
        height: 40px;
        margin: 10px;
        margin-bottom: 70px;
        bottom: 0;
        border-radius: 40px;
        background: $bg;
        z-index: 20;
        box-shadow: $box-shadow;
        text-align: center;
        padding-top: 10px;
        font-size: 18px;
        color: $color_1;
        transition: $transition;
        &:active {
            transform: scale(0.9);
        }
    }
}

.catalogpagehide::before {
    content: '';
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #74747454;
    z-index: 10;
    transition: $transition2;
}

.filtermodalwindow {
    width: 100%;
    height: 100%;
    z-index: 40;
    position: fixed;
    transition: $transition;
    background: #fff;
    .filtermodal_menu {
        width: 100%;
        height: 100%;
        transition: $transition2;
        overflow: scroll;
        .filtermenu_type {
            width: 100%;
            min-height: 60px;
            padding: 10px;
            border-bottom: 2px solid $bg;
            font-size: 16px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &:last-child {
                border-bottom: 0px solid $bg;
            }
            span[data-type="header"] {
                display: inline-block;
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 30px;
                padding-left: 10px;
                padding-top: 7px;
                font-size: 16px;
                margin: 0px auto;
                margin-bottom: 20px;
                margin-top: 10px;
                color: #538aff;
                background: $bg;
                border-radius: 20px;
                padding-right: 20px;
            }
            span.costheader {
                width: 75%;
            }
            .closeKeboardButton {
                display: inline-block;
                width: 20%;
                margin-left: 10px;
                margin-bottom: 12px;
                text-align: center;
                border-radius: 20px;
                height: 30px;
                background: $bg;
                color: $color_1;
                padding-top: 7px;
                transition: $transition;
                &:active {
                    transform: scale(0.9);
                }
            }
            label {
                width: 100px;
                height: 30px;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                padding-left: 10px;
                input {
                    position: absolute;
                    display: inline-block;
                    left: -9999px;
                    &:checked + span[data-type="circle"] {
                        + span[data-type="span2"] {
                            color: #437fff;
                        }
                        &::before {
                            background: #437fff;
                        }
                    }
                }
                span[data-type="span2"] {
                    display: inline-block;
                    min-width: 60px;
                    z-index: 10;
                    &:first-child {
                        width: 40px;
                    }
                }
                span[data-type="circle"] {
                    transition: $transition;
                    display: inline-block;
                    min-width: 20px;
                    min-height: 20px;
                    border-radius: 50%;
                    border: 1px solid #437fff;
                    margin-right: 10px;
                    &::before {
                        content: '';
                        position: absolute;
                        display: inline-block;
                        transition: $transition;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        transform: translate(4px, 4px);
                        // background: #437fff;
                    }
                }
            }
            input.costfilterinput {
                width: 130px;
                height: 40px;
                background: $bg;
                color: $color_1;
                border-radius: 20px;
                margin-left: 10px;
                padding-left: 10px;
                font-size: 16px;
                margin-bottom: 10px;
                transition: $transition;
                &:focus {
                    box-shadow: $box-shadow;
                }
            }
        }
        .filtermenu_closebutton {
            width: 95%;
            height: 50px;
            margin: 0px auto;
            margin-bottom: 20px;
            margin-top: 25px;
            text-align: center;
            border-radius: 40px;
            background: #437fff;
            color: #fff;
            padding-top: 15px;
            font-size: 20px;
            transition: $transition;
            box-shadow: $box-shadow;
            &:active {
                transform: scale(0.9);
            }
        }
        .costfilter {
            justify-content: space-around;
            align-items: center;
            input {
                &::placeholder {
                    color: $color_1;
                }
            }
        }
    }
}

.filtermodalwindow.hidden {
    transform: translate(0px, 800px);
    height: 0;
}