@font-face {
    font-family: "Apple bold";
    src: url('./fonts/SFProDisplay-Semibold.woff'), url('./fonts/SFProDisplay-Semibold.woff2');
}

$bg: #f6f5f8;
$shadow-bg: #121212;
$border: #393939;
$testbg: #23242e;
$fontcolor: #c3c3c3;
$box-shadow: 0px 5px 15px rgba(157, 157, 157, 0.426);
$transition: all, 0.3s, all, 0.3s;
$transition2: all, 0.1s, all, 0.1s;
$color_1: #80a8ff;
$font-family_1: Montserrat;

.homediv {
    width: 95%;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: $bg;
    border-radius: 20px;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 30px;
    .companyname {
        width: 100%;
        height: 100px;
        font-size: 45px;
        color: #80a8ff;
        margin: 0px auto;
    }
    .svg-loader {
        width: 100%;
        height: 100px;
        #Layer_1 {
            width: 100px;
            display: block;
            margin: auto;
        }
        .st0 {
            fill: none;
            stroke: #80a8ff;
            stroke-width: 4;
            stroke-linecap: square;
            stroke-alignment: inner;
            stroke-dasharray: 2000;
            stroke-dashoffset: 2000;
            animation: draw 12s infinite; 
        }
        .caption {
            font-family: $font-family_1;
            text-transform: uppercase;
            font-size: 14px;
            color: $color_1;
            width: 100px;
            display: block;
            margin: auto;
            padding-top: 20px;
            text-align: center;
        }
    }
    @keyframes draw {
        0% {
            stroke-dashoffset: 2000;
            animation-timing-function: ease-in;
        }
        50% {
            stroke-dashoffset: 0;
            animation-timing-function: ease-out;
        }
        100% {
            stroke-dashoffset: 2000;
            animation-timing-function: ease-in;
        }
    }
}

.username_vidget {
    width: 95%;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: $transition;
    overflow: hidden;
    margin: 0px auto;
    background-color: #80a8ff51;
    color: #fff;
    font-size: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 20px;
    &:active {
        transform: scale(0.95);
    }
}

.vidgets {
    width: 100%;
    min-height: 200px;
    display: flex;
    .marketing_vidget {
        width: 45%;
        height: 300px;
        background-color: $bg;
        margin-bottom: 20px;
        border-radius: 20px;
        overflow: hidden;
        margin-left: 10px;
        transition: $transition;
        &:active {
            transform: scale(0.95);
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }
    .vidgets_2 {
        width: 45%;
        height: 300px;
        .busket_vidget {
            width: 100%;
            height: 150px;
            background-color: $bg;
            margin-bottom: 20px;
            border-radius: 20px;
            overflow: hidden;
            margin-left: 10px;
            transition: $transition;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:active {
                transform: scale(0.95);
            }
            svg {
                display: inline-block;
            }
        }
        .account_vidget {
            display: inline-block;
            width: 100%;
            height: 130px;
            background-color: #b1caff;
            color: #fff;
            margin-bottom: 20px;
            border-radius: 20px;
            overflow: hidden;
            margin-left: 10px;
            transition: $transition;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Apple bold";
            font-size: 20px;
            cursor: pointer;
            &:active {
                transform: scale(0.95);
            }
            svg {
                display: inline-block;
            }
        }
    }
}

.homepage {
    width: 95%;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    padding-bottom: 10px;
    margin: 0px auto;
    .filter {
        font-size: 20px;
        font-family: "Apple bold";
        width: 100%;
        padding-left: 10px;
        margin-bottom: 10px;
        display: flex;
    }
    .item {
        width: 47%;
        height: 210px;
        min-height: 210px;
        padding: 10px;
        margin: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        cursor: pointer;
        font-family: "Apple bold";
        border-radius: 20px;
        background-color: $bg;
        overflow: hidden;
        transition: all, 0.2s, all, 0.2s;
        &:active {
            transform: scale(0.95);
        }
        .image {
            background-color: $bg;
            width: 100%;
            height: 200px;
            min-height: 200px;
            border-radius: 20px;
            z-index: 1;
            transform: translate(0px, -40px) scale(1.1);
        }
        .blocknameprice {
            width: 95%;
            display: flex;
            flex-wrap: wrap;
            margin: 0px auto;
            z-index: 2;
            transform: translate(0px, -60px);
            .name {
                width: 100%;
                margin-right: auto;
                margin-bottom: 10px;
            }
            .price {
                width: 100%;
                margin-left: auto;
            }
        }
    }
    .scrollup {
        width: 100%;
        height: 40px;
        margin-top: 10px;
        text-align: center;
        background-color: $bg;
        font-size: 18px;
        padding-top: 10px;
        color: #80a8ff;
        border-radius: 20px;
        transition: $transition2;
        &:active {
            transform: scale(0.9);
        }
    }
}

.footer {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    background-color: #5482dd;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .signature {
        width: 100%;
        text-align: center;
        color: #acc6ff;
        margin-bottom: 30px;
        margin-top: auto;
        text-decoration: underline;
    }
}


