@font-face {
  font-family: "Apple bold";
  src: url("./fonts/SFProDisplay-Semibold.woff"), url("./fonts/SFProDisplay-Semibold.woff2");
}
.accountpage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.accountpage .header {
  width: 95%;
  min-height: 40px;
  border-radius: 20px;
  margin: 0px auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.accountpage .header .userphoto {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.405);
  margin: 0px auto;
}
.accountpage .header .header_username {
  width: 100%;
  height: 100%;
  padding-top: 12px;
  font-size: 20px;
  color: #000;
  text-align: center;
}
.accountpage .account_menu {
  width: 95%;
  min-height: 300px;
  border-radius: 20px;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
.accountpage .account_menu .menu_name {
  width: 100%;
  height: 20px;
  color: rgba(159, 189, 255, 0.7882352941);
  padding-left: 14px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}
.accountpage .account_menu .menu_name span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.accountpage .account_menu .menu_name span svg {
  display: inline-block;
  transform: scale(0.8);
}
.accountpage .account_menu .menu_name span:last-child {
  color: #4680ff;
  transition: all, 0.3s, all, 0.3s;
  transform: translate(0px, -130px);
  margin-right: 10px;
  margin-top: 10px;
}
.accountpage .account_menu .menu_name span:last-child:active {
  transform: translate(0px, -130px) scale(0.9);
}
.accountpage .account_menu .account_info {
  width: 100%;
  min-height: 50px;
  background-color: #f6f5f8;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.accountpage .account_menu .account_menu_extra {
  width: 100%;
  min-height: 50px;
  background-color: #f6f5f8;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.accountpage .account_menu .account_menu_filed {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(230, 230, 230, 0.5490196078);
  color: #4680ff;
  transition: all, 0.3s, all, 0.3s;
}
.accountpage .account_menu .account_menu_filed:last-child {
  border-bottom: 0px solid rgba(230, 230, 230, 0.5490196078);
  border-radius: 0px 0px 20px 20px;
}
.accountpage .account_menu .account_menu_filed:first-child {
  border-radius: 20px 20px 0px 0px;
}
.accountpage .account_menu .account_menu_filed:active {
  background-color: rgba(206, 222, 255, 0.5019607843);
}
.accountpage .account_menu .account_menu_filed span {
  margin-right: 15px;
}
.accountpage .account_menu .account_menu_filed .addbutn {
  background-color: rgba(206, 222, 255, 0.5019607843);
  min-width: 80px;
  height: 20px;
  border-radius: 40px;
  text-align: center;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  transition: all, 0.3s, all, 0.3s;
}
.accountpage .account_menu .account_menu_filed input {
  min-width: 100px;
  height: 100%;
  color: #4680ff;
  border-radius: 20px;
  padding-left: 10px;
  transform: translate(0px, -5px);
}
.accountpage .account_menu .account_menu_filed input::-webkit-input-placeholder {
  color: rgba(128, 168, 255, 0.431372549);
}
.accountpage .account_menu .account_menu_filed input:-moz-placeholder {
  color: rgba(128, 168, 255, 0.431372549);
}
.accountpage .account_menu .account_menu_orders span:last-child {
  width: 25px;
  height: 25px;
  text-align: center;
  padding-top: 4px;
  border-radius: 30px;
  background-color: rgba(206, 222, 255, 0.5019607843);
  transform: translate(0px, -3px);
}/*# sourceMappingURL=style.css.map */