$bg: #f6f5f8;
$box-shadow: 0px 5px 15px rgba(157, 157, 157, 0.426);
$transition: all, 0.3s, all, 0.3s;
$transition2: all, 0.1s, all, 0.1s;
$color_1: #80a8ff;
$color_2: #bdd2ff;
$color_3: #f6f5f8;
$green: #e5fd60;
$blue: #2466ff;
$black: #1c1b1d;

.busketpage {
    width: 100%;
    min-height: 500px;
    z-index: 10;
    padding-bottom: 210px;
    .header {
      width: 95%;
      height: 40px;
      border-radius: 25px;
      margin: 0px auto;
      font-size: 20px;
      padding-top: 15px;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-top: 10px;
      margin-bottom: 10px;
      svg {
        display: inline-block;
        margin-left: 10px;
      }
    }
    .shoppingcart_items {
      width: 100%;
      min-height: 100px;
      margin-top: 10px;
      border-radius: 20px 20px 20px 20px;
      .cartitem {
        width: 100%;
        height: 120px;
        max-height: 120px;
        margin: 0px auto;
        padding: 20px;
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: $transition;
        label {
          display: block;
          width: 20px;
          height: 100%;
          display: flex;
          justify-content: center;
          justify-content: space-between;
          align-items: center;
          input {
            position: absolute;
            display: inline-block;
            left: -9999px;
            &:checked + span[data-type="circlespan"] {
              &::before {
                opacity: 1;
              }
          }
          }
          span[data-type="circlespan"] {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid $black;
            &::before {
              content: '';
              position: absolute;
              width: 15px;
              height: 15px;
              border-radius: 50%;
              background: $green;
              border: 1px solid $blue;
              transform: translate(1.5px, 1.5px);
              transition: $transition;
              opacity: 0;
            }
          }
        }
        .cartitem_image {
          background-color: rgba(0, 0, 0, 0.081);
          width: 120px;
          height: 100px;
          border-radius: 20px;
          transform: scale(0.8) translate(0px, 0px);
          margin-left: 20px;
        }
        .item_info {
          width: 60%;
          height: 100%;
          border-radius: 20px;
          margin-left: 10px;
          margin-right: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
          display: flex;
          flex-wrap: wrap;
          .item_info_field {
            display: block;
            width: 100%;
            height: 15px;
            margin-bottom: 5px;
          }
          .cartitem_name {
            max-height: 15px;
            font-size: 17px;
            position: relative;
          }
          .cartitem_choosensize {
            margin-top: 5px;
            color: $black;
          }
          .cartitem_price {
            width: 100%;
            margin-top: 5px;
            font-size: 14px;
          }
        }
        .deleteitem_field {
          width: 50px;
          height: 100%;
          border-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: $transition;
          position: relative;
          &:active {
            transform: scale(0.9);
          }
          &::before {
            position: absolute;
            content: '';
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: $green;
          }
          .deleteitem_button {
            width: 20px;
            height: 20px;
            background: url('../../../assets/trash.svg');
            background-repeat: no-repeat;
            background-size: contain;
            padding-left: 10px;
            transform: scale(0.8);
          }
        }
      }
      div {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }
}

.loading_component {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #707070a5;
  z-index: 20;
  transition: $transition;
  pointer-events: none; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  .loadspinner {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 15px;
    @keyframes fade {
      from {
        opacity: 1;
      }
      to {
        opacity: 0.25;
      }
    }
    div {
      width: 5%;
      height: 12%;
      background: $green;
      position: absolute;
      left: 49%;
      top: 43%;
      opacity: 0;
      border-radius: 50px;
      animation: fade 1s linear infinite;
    }
    div.bar1 {
      transform: rotate(0deg) translate(0, -130%);
      animation-delay: 0s;
    }
    div.bar2 {
      transform: rotate(30deg) translate(0, -130%);
      animation-delay: -0.9167s;
    }
    div.bar3 {
      transform: rotate(60deg) translate(0, -130%);
      animation-delay: -0.833s;
    }
    div.bar4 {
      transform: rotate(90deg) translate(0, -130%);
      animation-delay: -0.7497s;
    }
    div.bar5 {
      transform: rotate(120deg) translate(0, -130%);
      animation-delay: -0.667s;
    }
    div.bar6 {
      transform: rotate(150deg) translate(0, -130%);
      animation-delay: -0.5837s;
    }
    div.bar7 {
      transform: rotate(180deg) translate(0, -130%);
      animation-delay: -0.5s;
    }
    div.bar8 {
      transform: rotate(210deg) translate(0, -130%);
      animation-delay: -0.4167s;
    }
    div.bar9 {
      transform: rotate(240deg) translate(0, -130%);
      animation-delay: -0.333s;
    }
    div.bar10 {
      transform: rotate(270deg) translate(0, -130%);
      animation-delay: -0.2497s;
    }
    div.bar11 {
      transform: rotate(300deg) translate(0, -130%);
      animation-delay: -0.167s;
    }
    div.bar12 {
      transform: rotate(330deg) translate(0, -130%);
      animation-delay: -0.0833s;
    }
  }
}

.loading_component.active {
    opacity: 1;
    visibility: visible;
    animation-name: anim;
    animation-delay: 0.2s;
    pointer-events: all;
    @keyframes anim {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.invoicescore {
  width: 95%;
  margin: 10px;
  background-color: $green;
  border-radius: 20px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  position: fixed;
  margin: 10px;
  bottom: 0;
  margin-bottom: 80px;
  transition: $transition;
  transform: translate(0px, 500px);
  .extrainfo {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $blue;
    &:last-child {
      border-bottom: 1px solid $blue
    }
    span[data-type="invoice"] {
      display: inline-block;
      width: 100px;
      height: 100%;
      text-align: right;
      margin-left: auto;
      padding-top: 5px;
    }
  }
}

.invoicescoreShow {
  transform: translate(0px, 0px);
}


