.busketpage {
  width: 100%;
  height: 100%;
}
.busketpage .header {
  width: 95%;
  height: 40px;
  border-radius: 25px;
  margin: 0px auto;
  font-size: 20px;
  padding-top: 15px;
  color: #000;
  display: flex;
  align-items: center;
  position: relative;
}
.busketpage .header .backbutton {
  width: 42px;
  height: 42px;
  margin-left: 30px;
  position: absolute;
  transform: translate(0px, 15px);
}
.busketpage .header .backbutton .arrow {
  position: relative;
  width: 1.125rem;
  height: 0.125rem;
}
.busketpage .header .backbutton .arrow::before {
  position: absolute;
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.155rem solid #000;
  border-right: 0.155rem solid #000;
  transform: rotate(-135deg);
}
.busketpage .header span {
  width: 100%;
  height: 100%;
  text-align: center;
}
.busketpage .shoppingcart_items {
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  margin-top: 10px;
}
.busketpage .shoppingcart_items .cartitem {
  width: 95%;
  height: 100px;
  max-height: 100px;
  border-radius: 20px;
  margin: 0px auto;
  background-color: #f6f5f8;
  margin-top: 10px;
  padding: 10px;
  display: flex;
}
.busketpage .shoppingcart_items .cartitem .cartitem_image {
  background-color: rgba(0, 0, 0, 0.081);
  width: 100px;
  height: 100%;
  border-radius: 20px;
}
.busketpage .shoppingcart_items .cartitem .item_info {
  width: 60%;
  height: 100%;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 10px;
}
.busketpage .shoppingcart_items .cartitem .item_info .item_info_field {
  width: 100%;
  height: 15px;
  margin-bottom: 5px;
}
.busketpage .shoppingcart_items .cartitem .item_info .cartitem_name {
  font-size: 17px;
}
.busketpage .shoppingcart_items .cartitem .item_info .cartitem_choosensize {
  margin-top: 5px;
  color: #80a8ff;
}
.busketpage .shoppingcart_items .cartitem .item_info .cartitem_price {
  font-size: 16px;
}
.busketpage .shoppingcart_items .cartitem .deleteitem_field {
  width: 50px;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all, 0.3s, all, 0.3s;
}
.busketpage .shoppingcart_items .cartitem .deleteitem_field:active {
  transform: scale(0.9);
}
.busketpage .shoppingcart_items .cartitem .deleteitem_field .deleteitem_button {
  width: 30px;
  height: 30px;
  background: url("../../../assets/trash.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 10px;
}
.busketpage .invoicescore {
  width: 95%;
  min-height: 50px;
  margin: 0px auto;
  margin-top: 20px;
  background-color: rgba(189, 210, 255, 0.5019607843);
  border-radius: 20px;
  padding: 20px;
}
.busketpage .invoicescore .extrainfo {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #84abff;
}
.busketpage .invoicescore .extrainfo:last-child {
  color: #3978ff;
  border-bottom: 1px solid #3978ff;
}
.busketpage .invoicescore .extrainfo span[data-type=invoice] {
  display: inline-block;
  width: 100px;
  height: 100%;
  text-align: right;
  margin-left: auto;
  padding-top: 5px;
}/*# sourceMappingURL=style.css.map */