.busketpage {
  width: 100%;
  height: 100%;
  z-index: 10;
}
.busketpage .header {
  width: 95%;
  height: 40px;
  border-radius: 25px;
  margin: 0px auto;
  font-size: 20px;
  padding-top: 15px;
  color: #000;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
}
.busketpage .header .backbutton {
  width: 42px;
  height: 42px;
  margin-left: 30px;
  position: absolute;
  transform: translate(0px, 15px);
}
.busketpage .header .backbutton .arrow {
  position: relative;
  width: 1.125rem;
  height: 0.125rem;
}
.busketpage .header .backbutton .arrow::before {
  position: absolute;
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.155rem solid #000;
  border-right: 0.155rem solid #000;
  transform: rotate(-135deg);
}
.busketpage .header span {
  width: 100%;
  height: 100%;
  text-align: center;
}
.busketpage .shoppingcart_items {
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  margin-top: 10px;
  background-color: #f6f5f8;
  border-radius: 20px 20px 20px 20px;
}
.busketpage .shoppingcart_items div {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.busketpage .shoppingcart_items div div {
  width: 100%;
  height: 20px;
  color: #80a8ff;
  font-size: 18;
  text-align: center;
}
.busketpage .shoppingcart_items .cartitem {
  width: 100%;
  height: 120px;
  max-height: 120px;
  margin: 0px auto;
  background-color: #f6f5f8;
  padding: 20px;
  padding-left: 20px;
  display: flex;
  border-bottom: 2px solid #ebebeb;
}
.busketpage .shoppingcart_items .cartitem:last-child {
  border-bottom: 0px solid #ebebeb;
}
.busketpage .shoppingcart_items .cartitem .cartitem_image {
  background-color: rgba(0, 0, 0, 0.081);
  width: 100px;
  height: 100%;
  border-radius: 20px;
}
.busketpage .shoppingcart_items .cartitem .item_info {
  width: 60%;
  height: 100%;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 10px;
}
.busketpage .shoppingcart_items .cartitem .item_info .item_info_field {
  width: 100%;
  height: 15px;
  margin-bottom: 5px;
}
.busketpage .shoppingcart_items .cartitem .item_info .cartitem_name {
  font-size: 17px;
}
.busketpage .shoppingcart_items .cartitem .item_info .cartitem_choosensize {
  margin-top: 5px;
  color: #80a8ff;
}
.busketpage .shoppingcart_items .cartitem .item_info .cartitem_price {
  font-size: 16px;
}
.busketpage .shoppingcart_items .cartitem .deleteitem_field {
  width: 50px;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all, 0.3s, all, 0.3s;
}
.busketpage .shoppingcart_items .cartitem .deleteitem_field:active {
  transform: scale(0.9);
}
.busketpage .shoppingcart_items .cartitem .deleteitem_field .deleteitem_button {
  width: 30px;
  height: 30px;
  background: url("../../../assets/trash.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 10px;
}
.busketpage .invoicescore {
  width: 95%;
  min-height: 50px;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 70px;
  background-color: rgba(189, 210, 255, 0.5019607843);
  border-radius: 20px;
  padding: 20px;
}
.busketpage .invoicescore .extrainfo {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #84abff;
}
.busketpage .invoicescore .extrainfo:last-child {
  color: #3978ff;
  border-bottom: 1px solid #3978ff;
}
.busketpage .invoicescore .extrainfo span[data-type=invoice] {
  display: inline-block;
  width: 100px;
  height: 100%;
  text-align: right;
  margin-left: auto;
  padding-top: 5px;
}

.loading_component {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6470588235);
  z-index: 20;
  transition: all, 0.3s, all, 0.3s;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}
.loading_component .loadspinner {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 15px;
}
@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
.loading_component .loadspinner div {
  width: 5%;
  height: 12%;
  background: #4882ff;
  position: absolute;
  left: 49%;
  top: 43%;
  opacity: 0;
  border-radius: 50px;
  -webkit-animation: fade 1s linear infinite;
          animation: fade 1s linear infinite;
}
.loading_component .loadspinner div.bar1 {
  transform: rotate(0deg) translate(0, -130%);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.loading_component .loadspinner div.bar2 {
  transform: rotate(30deg) translate(0, -130%);
  -webkit-animation-delay: -0.9167s;
          animation-delay: -0.9167s;
}
.loading_component .loadspinner div.bar3 {
  transform: rotate(60deg) translate(0, -130%);
  -webkit-animation-delay: -0.833s;
          animation-delay: -0.833s;
}
.loading_component .loadspinner div.bar4 {
  transform: rotate(90deg) translate(0, -130%);
  -webkit-animation-delay: -0.7497s;
          animation-delay: -0.7497s;
}
.loading_component .loadspinner div.bar5 {
  transform: rotate(120deg) translate(0, -130%);
  -webkit-animation-delay: -0.667s;
          animation-delay: -0.667s;
}
.loading_component .loadspinner div.bar6 {
  transform: rotate(150deg) translate(0, -130%);
  -webkit-animation-delay: -0.5837s;
          animation-delay: -0.5837s;
}
.loading_component .loadspinner div.bar7 {
  transform: rotate(180deg) translate(0, -130%);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.loading_component .loadspinner div.bar8 {
  transform: rotate(210deg) translate(0, -130%);
  -webkit-animation-delay: -0.4167s;
          animation-delay: -0.4167s;
}
.loading_component .loadspinner div.bar9 {
  transform: rotate(240deg) translate(0, -130%);
  -webkit-animation-delay: -0.333s;
          animation-delay: -0.333s;
}
.loading_component .loadspinner div.bar10 {
  transform: rotate(270deg) translate(0, -130%);
  -webkit-animation-delay: -0.2497s;
          animation-delay: -0.2497s;
}
.loading_component .loadspinner div.bar11 {
  transform: rotate(300deg) translate(0, -130%);
  -webkit-animation-delay: -0.167s;
          animation-delay: -0.167s;
}
.loading_component .loadspinner div.bar12 {
  transform: rotate(330deg) translate(0, -130%);
  -webkit-animation-delay: -0.0833s;
          animation-delay: -0.0833s;
}

.loading_component.active {
  opacity: 1;
  visibility: visible;
  -webkit-animation-name: anim;
          animation-name: anim;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  pointer-events: all;
}
@-webkit-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */